.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 440px;
}

.row .items {
  width: 24%;
  height: 200px;
  margin-bottom: 20px;
  background-color: var(--color1);
}

:root {
  --color1: rgb(10, 73, 245);
}

@media screen and (min-width: 1440px) {
  :root {
    --color1: rgb(10, 73, 245);
  }
}

@media screen and (min-width: 768px) and (max-width: 1493px) {
  :root {
    --color1: rgb(245, 18, 10);
  }
  .row .items {
    width: 49%;
  }
}

@media screen and (min-width: 440px) and (max-width: 767px) {
  :root {
    --color1: rgb(10, 245, 10);
  }
  .row .items {
    width: 100%;
  }
}
